<!DOCTYPE html>
<html lang="en">
<head> <style>
body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
</style>
<title> Sign Up </title> </head>
<body><nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Life Long Passions</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="sign-in">sign-in</a>
          <a class="nav-link" href="sign-up">sign-up</a>
         </div>
      </div>
    </div>
  </nav></body>
<form action="/sign-up" method="post" 
enctype="multipart/form-data"
style="border:1px solid #ccc">
<div class="container">
    <h1>Sign Up</h1>
   <label for="email">Email:</label>
   <input type="text" id="email" name="email"><br>
   <label for="password">Password:</label>
   <input type="text" id="password" name="password"><br>
   <label for="username">Username:</label>
   <input type="text" id="username" name="username"><br>
   <label for="biography">Biography:</label>
   <input type="text" id="biography" name="bio"><br>
   <label for="display name">Display Name:</label>
   <input type="text" id="display name" name="display_name"><br>
   <label for="photo">Photo:</label>
   <input type="file" id="photo" name="photo"><br>
   <label for="birthday">Birthday:</label>
   <input type="date" id="birthday" name="birthday"><br>
   <input type="submit" value="Sign Up">

   </form>
</div>
</html>
  